.monitoring-Dinas {
    margin-top: 100px;
}

#monitoringTable th, #monitoringTable td {
    text-align: center;
    font-size: 0.85rem;
    padding: 0.5rem;
    vertical-align: middle;
}

/* #monitoringTable {
    border-collapse: seperate;
    border-spacing: 0 10px;
} */

#filterSection {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.search-box {
    width: 300px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

/* .pagination {
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}

.pagination li {
    margin: 0 5px;
}

.pagination li a {
    color: #007bff;
    text-decoration: none;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.pagination li.active a {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
} */
